body {
    background-color: #000000;
}

.constellation {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.title {
    font-family: "Righteous";
    font-size: 3em;
}

.transparent-back {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.nav-link {
    font-family: "Russo One";
}

.nav-linkx {
    font-family: "Russo One";
    text-align: center;
    border-radius: 0em;
    margin-bottom: 0.5em;
    background-color: #000000;
}

.content {
    margin-top: -4em;
    width: 100%;
}

.nav_hack {
    margin-left: 0.5em;
}

@media (min-width: 5000em) {
    .mdl-navigation__link {
        display: none;
    }
}

.main_bar {
    color: #000000;
}

.pro_bar {
    margin-top: 5em;
    margin-right: 2em;
    z-index: 2;
    display: inline-block;
}

.profile_container {
    float: right;
    display: block;
    background-color: #000000;
    width: 15vh;
    height: 15vh;
    border-radius: 0.25em;
    border-width: 0;
    background-image: url('https://kiddtic.files.wordpress.com/2011/10/ika-musume-also-has-mad-videos-ja-nai-ka.jpg');
    background-size: cover;
    background-position: center;
}

.pro_username {
    float: right;
    margin-top: 2em;
    font-family: "Russo one";
    font-size: 2em;
    padding-right: 0.5em;
}

@media (max-width: 500px) {
    #top-nav {
        display: none;
    }
}


@media (max-width: 1024px) {
    main {
        margin-left: 0.5em;
    }
}
