body {
    background-color: #000000;
}

.constellation {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.title {
    font-family: Righteous;
    font-size: 3em;
}

.transparent-back {
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;
    border-color: rgba(0, 0, 0, 0);
}

.nav-link {
    font-family: Russo One;
}

.content {
    margin-top: 15vh;
    width: 100%;
}

.nav_hack {
    margin-left: 0.5em;
}
